.header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
    padding-top: 20px;
    position: fixed;
    background-color: #ffffff88;
    backdrop-filter: blur(20px);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.imageHeader {
    width: 300px;
}

.content {
    padding-top: 100px;
}