.header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
    position: fixed;
    background-color: #ffffffec;
    backdrop-filter: blur(10px);
    align-items: center;
    height: 100px;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.imageHeader {
    width: 120px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 19px;
    padding-top: 90px;
    gap: 10px;
}

* {
    font-family: "Instrument Sans", sans-serif;
}
.doubleRoll {
    display: flex;
    flex-direction: row;
    gap: 10px
}
.card {
    width: 100%;
    height: 150px;
    background-color: #f2f2f2;
    border-radius: 20px;       
    padding: 20px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between; 
    box-sizing: border-box;
}

.titleCard {
    font-size: 16px;
    color: #666;               
    font-weight: 500;
    margin: 0;
}
.numberCard {
    font-size: 40px;          
    font-weight: bold;
    color: #000;
    align-self: flex-end;      
    line-height: 0.5;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3;
}

.BottomButton {
    width: 100%;
    background-color: rgb(255, 116, 116);
    border-radius: 20px;       
    padding: 20px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between; 
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
}

.navBar {
    display: flex;
    position: fixed;
    bottom: 25px;
    height: 65px;
    width: 190px;
    border-radius: 32390px;
    border: #0000001c inset 1px;
    box-shadow:rgb(17 12 46 / 45%) 0px 48px 100px 0px;
    backdrop-filter: blur(10px);
    justify-self: center;
    justify-items: center;
    justify-content: center;
    gap: 70px
}

.buttonYellow {
    background-color: #ffa959;
}
/* <script src="menu.js"></script> */

h1, h3 {
    font-weight: 500;

}

.h3_2 {
    margin: 5px;
}

.loginOptions{
    position:absolute;
    width: stretch;
    height: 90%;
    top: 0;
    border-radius: 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: #00000017 inset 1px;
    background-color: rgba(242, 242, 242, 0.76);
    /* justify-items: center; */
    justify-content: center;
    
    padding: 20px;
}

.profile {
    position: absolute;
    right: 20px;
    width: 50px;
    border: #00000011 2px inset;
    border-radius: 2000000px;
}

.hidden {
    display: none !important;
}

.headerCard {
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp {
    width: 50px;
}

.optionCardButton {
    width: stretch;
    height: 8vh;
    font-size: 20px;
    color: #000;
    background-color: #ffffff9a;
    border: 0;
    border-radius: 6px;
}

.cardLogin {
    z-index: 200;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

.blackBG {
    display: none;
    position: absolute;
    top: 0;
    width: stretch;
    height: stretch;
    background-color: #000;
    pointer-events:none; 
}

.backButton {
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    top: 20px;
    left: 20px;
}

.openxpp {
  animation: openx 600ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.closexpp {
  animation: closex 600ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.blurbg {
    display: block;
    position: fixed;
    animation: blurbgg 600ms cubic-bezier(0.30, 1, 0.1, 1) forwards;
}
.unblurbg {
    display: block;
    position: fixed;
    animation: unblurbgg 600ms cubic-bezier(0.30, 1, 0.1, 1) forwards;
}
@keyframes openx {
  from {
    transform: translateY(100vh); /* Posici贸n inicial */    
  }
  to {
    transform: translateY(5%); /* Posici贸n final (arriba) */
  }
}
@keyframes closex {
  from {
    transform: translateY(5%); /* Posici贸n inicial */    
  }
  to {
    transform: translateY(100vh); /* Posici贸n final (arriba) */
  }
}
@keyframes unblurbgg {
  from {
    backdrop-filter: blur(32px);
    background-color: #000000a8;
  }
  to {
    backdrop-filter: blur(0px);
    background-color: #00000000;
  }
}
@keyframes blurbgg {
  from {
    backdrop-filter: blur(0px);
    background-color: #00000000;
  }
  to {
    backdrop-filter: blur(32px);
    background-color: #000000a8;
  }
}

.topCorner {
    border-radius: 20px;
    border-bottom-left-radius: 6px ;
    border-bottom-right-radius: 6px ;
}

.bottomCorner {
    border-radius: 20px;
    border-top-left-radius: 6px ;
    border-top-right-radius: 6px ;
}

.blurLabel {
    filter: blur(15px);
}

.titleCardLabel {
    margin: 12px
}

.addCarExpand {
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 20px;
    font-size: 16px;
    padding: 20px;
    outline: 2px solid transparent;
    border: 0;
    background-color: #ffffffa9;
    width: stretch;
    display: flex;
}

.addCarExpand:focus{
    outline-color: #ff0000;
}
.inputInformation {
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: stretch;
    padding-top: 5px;
}

.accentColorButton {
    border-radius: 20px;
    border: 0;
    padding: 15px;
    font-size: large;
    background-color: #ff0000;
    font-weight: 600;
    color: #FFFFFF;
    align-items: center;
}

.calendarIcon {
    align-self: center;
    position: absolute;
    right: 45px;
}

.iconTab {
    align-self: center;
    width: 30px;
}
.backButton:hover {
    scale: 0.8;
}

@media (min-device-width: 800px) {
  .loginOptions {
    width: 60%;
    align-self: center;
    justify-self: center;
    border-radius: 30px;
    top: -30px;
    backdrop-filter: blur(20px);
  }
  .blurbg {
    backdrop-filter: none;
    animation: none;
    background-color: #0000006e;
  }
}

.spinner {
  animation: spin 0.25s linear infinite;
  display: none;
  width: 20px;
  justify-self: center;
}

.blackFilter {
    filter: brightness(0);
}

.bigSpinner {
    width: 60px;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes scale {
    to {scale: 0.8;}
}
@keyframes unscale {
    to {scale: 1.0;}
}

.unscalle {
    animation: unscale 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.scalle {
    animation: scale 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}