.header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
    position: fixed;
    background-color: #ffffffec;
    backdrop-filter: blur(10px);
    align-items: center;
    height: 100px;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.imageHeader {
    width: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 19px;
    padding-top: 90px;
    gap: 10px;
}

* {
    font-family: "Instrument Sans", sans-serif;
}
.doubleRoll {
    display: flex;
    flex-direction: row;
    gap: 10px
}
.card {
    width: 100%;
    height: 150px;
    background-color: #f2f2f2;
    border-radius: 20px;       
    padding: 20px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between; 
    box-sizing: border-box;
}

.titleCard {
    font-size: 16px;
    color: #666;               
    font-weight: 500;
    margin: 0;
}
.numberCard {
    font-size: 40px;          
    font-weight: bold;
    color: #000;
    align-self: flex-end;      
    line-height: 0.5;
}

.BottomButton {
    width: 100%;
    background-color: rgb(255, 116, 116);
    border-radius: 20px;       
    padding: 20px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between; 
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
}

.navBar {
    display: flex;
    position: fixed;
    bottom: 25px;
    height: 65px;
    width: 190px;
    border-radius: 32390px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    background-color: #ffffffa4;
    backdrop-filter: blur(10px);
    left: 25%;
    right: 25%;
}

.buttonYellow {
    background-color: #ffa959;
}
/* <script src="menu.js"></script> */

h1, h3 {
    font-weight: 500;
}

.loginOptions{
    display: none;
    
}